src/main/resources/xsd/root.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://example.com/root"
           xmlns:ns1="http://example.com/ns1"
           targetNamespace="http://example.com/root"
           elementFormDefault="qualified">

    <xs:import namespace="http://example.com/ns1" schemaLocation="ns1.xsd"/>

    <xs:element name="root" type="RootType"/>

    <xs:complexType name="RootType" mixed="true">
        <xs:sequence>
            <xs:element name="child" type="ns1:ChildType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
