src/main/resources/xsd/fault/FaultDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:axis="http://xml.apache.org/axis/"
           targetNamespace="http://xml.apache.org/axis/"
           elementFormDefault="qualified">

    <xs:element name="FaultDetail" type="axis:FaultDetail"/>

    <xs:complexType name="FaultDetail">
        <xs:sequence>
            <xs:element name="exceptionName" type="xs:string" minOccurs="0"/>
            <xs:element name="hostname" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
