src/main/resources/wsdl/fault/SoapEnvelope.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://germanfica.com/wsfe/soap"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:axis="http://xml.apache.org/axis/"
             targetNamespace="http://germanfica.com/wsfe/soap">

    <!-- Types -->
    <types>
        <xsd:schema targetNamespace="http://germanfica.com/wsfe/soap">
            <xsd:complexType name="FaultDetail">
                <xsd:sequence>
                    <xsd:element name="exceptionName" type="xsd:string" namespace="http://xml.apache.org/axis/" />
                    <xsd:element name="hostname" type="xsd:string" namespace="http://xml.apache.org/axis/" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SoapFault">
                <xsd:sequence>
                    <xsd:element name="faultcode" type="xsd:string" />
                    <xsd:element name="faultstring" type="xsd:string" />
                    <xsd:element name="detail" type="tns:FaultDetail" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SoapBody">
                <xsd:sequence>
                    <xsd:element name="Fault" type="tns:SoapFault" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SoapEnvelope">
                <xsd:sequence>
                    <xsd:element name="Body" type="tns:SoapBody" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <!-- Messages -->
    <message name="FaultMessage">
        <part name="fault" element="tns:SoapEnvelope" />
    </message>

    <!-- Port Type -->
    <portType name="FaultService">
        <operation name="HandleFault">
            <input message="tns:FaultMessage" />
            <output message="tns:FaultMessage" />
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="FaultServiceSoapBinding" type="tns:FaultService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="HandleFault">
            <soap:operation soapAction="http://germanfica.com/wsfe/soap/HandleFault" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="FaultService">
        <port name="FaultServiceSoapPort" binding="tns:FaultServiceSoapBinding">
            <soap:address location="http://localhost:8080/ws/faultService" />
        </port>
    </service>
</definitions>
